{% extends 'base.html' %}
{% load static %}

{% block content %}
    <body>

        
        <div class="mobile">
            <div class="mobile mobile-header-pad"></div>
            <!-- 
                for images in feed
            -->

            <div class="card">
                <div class="card-header">
                    <div class="card-header-pp">
                        <!--add logic for profile picture-->
                        <img src="{{ post.userPosted.profilePic.url }}">
                    </div>

                    <div class="card-header-user">
                        <!--add logic for picture username-->
                        <h4>Username</h4>
                    </div>
                </div>

                <div class="card-img">
                    <!--add logic for images-->
                    <img src="{{ post.image.url }}" card="card-img-actual">
                </div>

                <div class="card-interactions">
                    <div class="card-like card-button">
                        <!--like button img-->
                        <!--add logic to add or remove like-->
                        <img src="{% static 'img/icon.jpg' %}">
                    </div>

                    <div class="card-comment card-button">
                        <!--comment button img-->
                        <a href="comments">
                            <img src="{% static 'img/icon.jpg' %}">
                        </a>
                    </div>
                </div>

                <div class="card-likes">
                    <strong><a href="lists">12 likes</a></strong>
                    <!--add logic for picture like number-->
                </div>

                <div class="card-caption">
                    <strong>Username</strong>
                    Captions
                    <br>
                    <small>hh:mm</small>
                    <!--add logic for picture caption and first two comments-->
                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <div class="card-header-pp">
                        <!--add logic for profile picture-->
                        <img src="{% static 'img/icon.jpg' %}">
                    </div>

                    <div class="card-header-user">
                        <!--add logic for picture username-->
                        <h4>Username</h4>
                    </div>
                </div>

                <div class="card-img">
                    <!--add logic for images-->
                    <img src="{% static 'img/icon.jpg' %}" card="card-img-actual">
                </div>

                <div class="card-interactions">
                    <div class="card-like card-button">
                        <!--like button img-->
                        <!--add logic to add or remove like-->
                        <img src="{% static 'img/icon.jpg' %}">
                    </div>

                    <div class="card-comment card-button">
                        <!--comment button img-->
                        <img src="{% static 'img/icon.jpg' %}">
                    </div>
                </div>

                <div class="card-likes">
                    <strong> 45 likes</strong>
                    <!--add logic for picture like number-->
                </div>

                <div class="card-caption">
                    <strong>Username</strong>
                    Captions
                    <!--add logic for picture caption and first two comments-->
                </div>
            </div>


            <div class="mobile mobile-footer-pad"></div>
        </div>








        <!--
            desktop below
        -->



        <div class="dekstop">
            <div class="desktop desktop-pad"></div>
            <div class="desktop index">
                <div class="desktop desktop-explore">
                    <div class="desktop desktop-explore-head desktop-explore-search">
                        <form method="POST" action="/lists">
                            {% csrf_token %}
                            <input type="search-desktop" placeholder="Search by Username" name='search' id='search'>
                            <button type="submit">search</button>
    
                        </form>
                    </div>

                    <!--for user in relevant-->
                    <div class="desktop desktop-explore-posts">
                        <a href="single-image">
                            <img src="{% static 'img/icon.jpg' %}">
                        </a>
                    </div>

                    

                </div>

                <div class="desktop desktop-feed">
                    
                    <!--logic for each post-->
                    {% for post in posts.all %}
                    <div class="desktop card-desktop">
                        <div class="desktop card-header-desktop">
                            <div class="desktop card-header-pp-desktop">
                                <!--add logic for profile picture-->
                                <a href="profile">
                                    <img src="{{ post.userPosted.profile.pic.url }}">
                                </a>
                            </div>
        
                            <div class="desktop card-header-user-desktop">
                                <!--add logic for picture username-->
                                <a href="{{ post.userPosted.profile.get_absolute_url }}"><h4>{{ post.userPosted }}</h4></a>
                            </div>
                        </div>
        
                        <div class="desktop card-img-desktop">
                            <!--add logic for images-->
                            <img src="{{ post.image.url }}" card="card-img-actual">
                        </div>
        
                        <div class="desktop card-interactions-desktop">
                            <div class="desktop asdf card-like card-button-desktop">
                                <!--like button img-->
                                <!--add logic to add or remove like-->
                                <img src="{% static 'img/like_icon.png' %}" onclick="addLike({{ post.postID }})">
                            </div>
        
                            <div class="desktop card-comment card-button-desktop">
                                <!--comment button img-->
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{% static 'img/icon.jpg' %}">
                                </a>
                            </div>
                        </div>
        
                        <div class="desktop card-likes-desktop">
                            <button id="modal-button" onclick="openModal()">
                                <strong>{{ post.get_likes|length }} likes</strong>
                            </button>
                            <!--add logic for picture like number-->
                        </div>
        
                        <div class="desktop card-caption-desktop">
                            <strong><a href="{{ post.userPosted.profile.get_absolute_url }}">{{ post.userPosted }}</a></strong>
                            {{  post.caption }}
                            <br>
                            <small>{{ post.upload_time }}</small>
                            <!--add logic for picture caption and first two comments-->
                        </div>
                    </div>
                    

                    <div class="likes-modal" onclick="closeModal()">
                        <div class="modal-content">
                            <div class="modal-header">
                                Likes
                            </div>

                            <div class="modal-likes">
                                {% for liker in post.get_likes %}
                                <div class="modal-like">
                                    <div class="modal-like-img modal-like-pp">
                                        <a href="{{ liker.user.profile.get_absoloute_url }}">
                                            <img src="{{ liker.user.profile.pic.url }}" >
                                        </a>
                                    </div>
                                    <div class="modal-like-user">
                                        <a href="{{ liker.user.profile.get_absoloute_url }}">{{ liker.user.username }}</a>
                                    </div>
                                    <div class="modal-like-img modal-like-follow">
                                        <!-- logic -->
                                        <img>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>

                    </div>
                    {% endfor %}
        
                    

                </div>

                <div class="desktop desktop-activity">
                    <!--logic for each post-->
                    
                    <div class="desktop desktop-notification-card">
                        <div class="desktop desktop-notification-pp">
                            <a href="profile">
                                <img src="{{ card.userFrom.profilePic }}">
                            </a>
                        </div>

                        <div class="desktop desktop-notification-text">
                            <strong><a href="profile">username</a></strong>
                            you/your photo
                        </div>

                        <div class="desktop desktop-notification-icon">
                            <!--logic for follow/unfollow/image-->
                            <img src="{% static 'img/icon.jpg' %}">
                        </div>

                    </div>

                    

                </div>

            </div>

        </div>
        


        

    </body> 
{% endblock %}